---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Eksempel</title>
	</head>
	<body>
		<h1>Første eksempel</h1>
		<h2>broooo</h2>
		<p>bruh</p>
		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi laudantium alias dolorem inventore perspiciatis aperiam voluptatum voluptate, totam in. Veritatis voluptatibus ea nisi non iste nostrum, maiores perspiciatis mollitia hic.</p>
	</body>
</html>
